@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
html {
  transition: background-color 0.25s ease, color 0.25s ease;
}

body {
  @apply bg-white text-black dark:bg-black dark:text-white font-sans;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.25s ease, color 0.25s ease;
}

/* Reusable container */
.custom-nav {
  @apply bg-white text-black border border-zinc-200 
         dark:bg-black dark:text-white dark:border-zinc-800;
}

/* Scrollbar hide */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none !important;
  }

  .no-scrollbar {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
  }
}